<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Sign up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/signup/fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/signup/css/style.css">

</head>

<body>


	<div class="wrapper">
			<div class="inner">
				<img src="/signup/images/image-1.png" alt="" class="image-1">
				<form action="/adminSignup" method="post">
					<h3>New Account?</h3>
					
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="name" placeholder="Name">
					</div>
					
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" class="form-control"  name="phone" placeholder="Phone Number">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="email" class="form-control" name="email" placeholder="Email">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					
					<button>
						<span>Register</span>
					</button> <br>
					
					<a href="/adminLogin"> Already have an account</a>
					
				</form>
				<img src="/signup/images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/main.js"></script>
	
	
	
	
</body>
</html>