<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Login Form</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- LINEARICONS -->
<link rel="stylesheet" href="/signup/fonts/linearicons/style.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="/signup/css/style.css">

</head>
<body>


	<div class="wrapper">
		<div class="inner">
			<img src="/signup/images/image-1.png" alt="" class="image-1">

			<form action="/userLogin" method="post"
				style="background-color: MintCream">

				<div style="text-align: center">
					<a href="/"
						style="display: inline-block; padding: 7px 7px; border-radius: 15px; color: white; background-color: green">Back</a>
				</div>
				<br>

				<h1
					style="background-color: black; color: white; border-radius: 15px; text-align: center">
					User Login Form</h1>
				<br>
				<br>


				<div th:if="${success}" class="alert alert-success" style="color:green">
					<strong>[[${success}]]</strong>
				</div>


				<p style="color: red">[[${error}]]</p>

				<div class="form-holder">
					<span class="lnr lnr-user"></span> <input type="text"
						class="form-control" name="username" placeholder="Username">
				</div>

				<div class="form-holder">
					<span class="lnr lnr-lock"></span> <input type="password"
						class="form-control" name="password" placeholder="Password">
				</div>

				<button style="border-radius: 15px; background-color: MediumPurple">
					<span>Login</span>
				</button>
				<br>

				<div class="text-center" style="text-align: center">
					<span> <a href="/forgetPassword"
						style="display: inline-block; padding: 7px 7px; border-radius: 15px; color: white; background-color: green">Forget
							Password?</a>
					</span>
				</div>




			</form>
			<img src="/signup/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>

